// тк мы к ним обращаемся везде ниже
@import "utils/vars";
@import "utils/reset";
@import "utils/modi";

@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  line-height: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src:
    local("JetBrainsMono"),
    /* Если не получилось, загрузит woff2 */ url("@/assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2")
      format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url("@/assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  /* Браузер сначала попробует найти шрифт локально */
  src:
    local("Inter"),
    /* Если не получилось, загрузит woff2 */ url("@/assets/fonts/Inter/Inter-Regular.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */ url("@/assets/fonts/inter/InterVariable.ttf") format("ttf");
}

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

button {
  cursor: pointer;
  font-family: $titleFont;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// input,
// textarea,
// select,
// button {
//   border: 1px solid $border-base;
// }

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer, // also footer if footer without section
section,
.section {
  position: relative;
  padding: 40px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  position: relative;
  flex: 0 0 auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  @media (max-width: 1240px) {
    width: 940px;
  }
  @media (max-width: 980px) {
    width: 620px;
  }
  @media (max-width: 680px) {
    max-width: 460px;
  }
  @media (max-width: 520px) {
    width: 300px;
  }
}

.green {
  color: #48b322;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("@/assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  @media (max-width: 980px) {
    flex-direction: row;
  }
}

.ellips {
  top: 240px;
  left: -260px;
  width: 747px;
  height: 444px;
  position: absolute;
  background-image: url("@/assets/img/ellipse2.png");
  @media (max-width: 680px) {
    top: 140px;
  }
  @media (max-width: 520px) {
    top: 97px;
    left: -276px;
  }
}

.line {
  height: 2px;
  background: linear-gradient(90deg, #d99543 0%, rgba(217, 149, 67, 0) 100%);
  z-index: 1;
}

.bg {
  position: absolute;
  top: -800px;
  left: 50%;
  transform: translate(-50%);
  width: 1284px;
  height: 1752px;
  background-image: url("@/assets/img/ellipse.png");
  background-size: cover;
  background-position: center;
}

.cell {
  border: 2px solid white;
  margin: 0 -2px -2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $titleFont;
  font-size: 14px;
  color: white;
  a {
    color: white;
  }
  &:hover .sm {
    fill: #48b322;
  }
}

.line-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 25px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: #48b322;
}

input,
select,
textarea {
  padding: 16px 26px;
  font-family: $titleFont;
}

.q_del {
  cursor: pointer;
  margin-left: 10px;
}

.form_btn {
  padding: 10px 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 8px 3px rgba(72, 179, 34, 0.35);
  -moz-box-shadow: 1px 1px 8px 3px rgba(72, 179, 34, 0.35);
  box-shadow: 1px 1px 8px 3px rgba(72, 179, 34, 0.35);
  &:hover {
    background-color: #e6f1e2;
  }
  &:disabled {
    cursor: auto;
    color: gray;
  }
  @media (max-width: 980px) {
    font-size: 90%;
    width: 30%;
    height: 58px;
    padding: 0px;
  }
  @media (max-width: 680px) {
    width: 100%;
    height: 58px;
    padding: 0px;
    margin-bottom: 10px;
  }
}

.a-btn {
  background-color: #f0f0f0;
  color: #000;
  font-family: $titleFont;
  text-align: center;
  @media (max-width: 980px) {
    width: 100%;
    padding: 16px;
  }
}

.title-work {
  font-family: $titleFont;
  color: #48b322;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  padding: 130px 0 60px;

  @media (max-width: 680px) {
    font-size: 40px;
    line-height: 44px;
    padding: 40px 0;
  }
}

.desciption-work {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form_container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 20px;
  font-family: $titleFont;
  gap: 20px;
  @media (max-width: 520px) {
    width: 300px;
  }
}

.wrapper-home-work {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 919px;
  background-color: #000;
  border-top: 2px solid #48b322;
}

.go {
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  color: #48b322;
}

.sm {
  width: 30px;
  height: 30px;
  fill: #fff;
  cursor: pointer;
}

.translate-arrow {
  .sm {
    padding-top: 4px;
    transition: transform 0.4s ease-in-out;
  }

  &:hover .sm {
    transform: translate(-40%);
  }
}

@import "./common/_common";
@import "./helpers/_helpers";
